@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Krona+One');
body{
	margin:0px;
	padding: 0pxx;
	font-family: 'Krona One', sans-serif;
	background-color: #a1a1a1;
}

#header{
	width:100%;
	height: 80px;
	background-color: #333;
	color:#FFFF;
	text-align: center;
	padding-top:40px;
}

#dashboard{
	width:100%;
	height:300px;
	background-color: ##a1a1a1;
	border-bottom:2px solid #333;
}

#dashboard h2{
	text-align: center;
	font-size:14px;
	color:#900;	
}

#footer{
	width:100%;
	background-color: #000;
	color:#fff;
	font-size:12px;
}

#footer p{
	text-align:center;
	padding:15px;
}